* {
margin:0;
padding:0;
font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
/*font-family: Circular,"Helvetica Neue","Microsoft YaHei","Helvetica",Arial,sans-serif!important*/

}
ul li{
	list-style: none;
}
body{
	background-color:#f3f3f3;
    font:14px/1.8em georgia, serif;
}

article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {
border:0;
font:inherit;
font-size:100%;
margin:0;
padding:0;
vertical-align:baseline;

}
p{
	font-family: Circular,"Helvetica Neue","Microsoft YaHei","Helvetica",Arial,sans-serif!important
}
code{
	display: block;
	white-space: pre-wrap;/*只对中文起作用，强制换行。*/
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,article.posts > time {
display:block;
}
article.posts{
	padding: 2% 3%;
	background: #fff;
}
header{
	height: 158px;
	background: #000;
	overflow:hidden;
	position: relative;
}
/*tag-active css start*/
.tag-active{
	color: #fff!important;
	font-size: 20px!important;
	background: #26b89a;
	padding: 6px 12px;
	border-radius: 4px;
}
#tag_cloud a{
	font-size: 16px!important;
	color: #69686c;
}
/*active css end*/
#main{
	padding: 4% 6%;
	overflow: hidden;
}
footer{
	padding: 2em 3em;
	background: #4d4d4d;
}
.site{
	float: left;
	width: 70%;
}
.sidebar{
	float: right;
	width: 28%;
	color:#666;
	font-family:sans-serif,SimSun,YouYuan,arial;
	font-size: 1em;
	padding-left: 2%;
	box-sizing:border-box;
}
/*section.site > header {
margin:2em 0 0;
padding:.2em;
width:50em;
}

section.site > header h1 {
float:left;
font-family:monospace, serif;
font-size:26px;
font-weight:700;
margin:0 .5em 0 0;
padding-top:5px;
}

*/
.highlight{
	padding: 20px;
    background: #abbaba;
    color: #fff;
}
/*section.site > header h1 a {
border:none;
color:#ddd;
text-decoration:none;
}

section.site > header h1 a:hover {
color:#7FFFD4;
}

section.site > header h2 {
color:#999;
font-size:14px;
margin:2px;
}
*/
section.site > section.content {
position: relative;
left:-4em;
margin:1.2em 0 1em;
width:56em;
overflow: auto;
}

section.site > section.content > article > blockquote {
border-left:4px solid #999;
font-style:italic;
margin:1em 1.5em;
padding:0 0 0 1em;
}

section.site > section.content > article > pre {
background-color:#DFDFDF;
font-size:.85em;
margin:.25em 2em;
padding:1em;
}

/*section.site > section.content > article ul,section.content > article ol,aside.sidebar section ul {
	margin:0 0 0 .9em;
}*/
/*.sidebar{
	width: 50%;
	float: right;

}*/
section.site > section.content article ul.tags {
display:block;
font-size:.85em;
margin:.25em 0;
padding-left:0;
}

section.site > section.content article ul.tags li {
display:inline;
list-style:none;
}

section.site > section.content article,section.comments {
/*background-color:#f8f8f8;*/
padding: .5em 1.4em;
}

section.content nav.page-navigation{
	text-align: center;
	min-height:2em;
	padding:1.25em .25em;
	position:relative;
	background: #121212;
}

section.content nav.page-navigation a{
	color: #a6a6a6
}
section.content nav.page-navigation a:hover{
	color: #fff;
}
a.left {float:left}

a.right {float:right}

.foo,.info{
	font-family: 'Raleway', sans-serif;
	color: white;
    position: absolute;
    /*text-shadow: 4px 3px 0px rgba(255,255,255,0.15),8px 6px 4px rgba(255,255,255,0.15),12px 9px 0 rgba(255,255,255,.15);*/
    text-shadow: 4px 3px 0px rgba(255,255,255,0.15),9px 8px 0px rgba(255,255,255,0.15);
}
.foo{  
    font-size: 6em;
    top: 10px;
    left: 4%;
    height: 100%;
    line-height: 1; 
    text-transform: uppercase; 
}
.info{
	top: 50px;
	right: 4%;
	text-shadow: 4px 3px 0px rgba(255,255,255,0.15);
	/*letter-spacing: .1em;*/
}
.info>ul>li{
	display: inline-block;
	position: relative;
	padding: 20px;
}
.info>ul>li>a{
	text-transform: uppercase;
	font-size: 1.6em;
	color: #a6a6a6;
}
.info>ul>li>a:before{
	content: '';
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    background-color: #A6A6A6;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 10px;
}
.info>ul>li:nth-of-type(1)>a:before{
	background-color: #f53d3d;
}
.info>ul>li:nth-of-type(2)>a:before{
	background-color: #ebeb47;
}
.info>ul>li:nth-of-type(3)>a:before{
	background-color: #47eb47;
}
.info>ul>li.active>a{
	color: #fff;
}
.info>ul>li.active:after{
	content: '';
    display: block;
    position: absolute;
    width: 4px;
    height: 48px;
    background-color: #F2F2F2;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 4px;
    z-index: -1;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
    z-index: 999;
}
.info>ul>li>a:hover{
	color: #fff;
}
aside.sidebar section {
	font-size:1em;
	margin-bottom: 1em;
}
aside.sidebar section p{
	color:#a6a6a6;
	letter-spacing: 0.01em;
	text-indent: 2.1em;
	line-height: 1.8;
	padding: 0 20px;
}

aside.sidebar section a {
	color: #a6a6a6;
	font-family: "微软雅黑";
	font-weight: normal;
}

aside.sidebar section a:hover {
	color:#2b2b2b;
}

aside.sidebar section h3 {
font-family:Microsoft YaHei, SimSun,YouYuan,arial;
font-size:1.4em;
font-weight:normal;
padding-bottom:.25em;
/*font-family: '微软雅黑';*/
color: #222;
margin: 20px 0;
letter-spacing: .1em;
}


aside.sidebar section img.block {
border:1px solid #666;
display:block;
margin:2em auto;
width:40%;
border-radius: 50%;
padding: 2px;
border:2px solid #fff;
}

aside.sidebar section ul > li,#comments.archived-comments > ul.comments {
margin:0;
color: #e55c5c;
}

aside.sidebar section ul.columns {
margin:1em 0 0;
padding:0;
}

aside.sidebar section ul.columns li {
float:left;
list-style-type:none;
padding:0 1.25em 1.5em;
text-align:center;
}



article#index h2,article.notice h2,.listing-seperator {
	font-size: 1.4em;
	font-weight:normal;
	margin-bottom: 1em;
	letter-spacing: .01em;
}

article#index{
position: relative;
overflow: auto;
background: #f3f3f3;
min-height: 500px;
}

.post-wrap{
	padding: 10px 48px;
	background: #fff;
	margin-bottom: 1em;
}

#post-bottom {
height:30px;
margin-bottom:10px;
margin-top:10px;
padding:5px;
}

#tag_cloud a:hover {
	text-decoration:none;
}



table {
	font:100%;
font-size:inherit;
}

.datalist {
align:center;
border:1px solid #007eff;
border-collapse:collapse;
font-family:sans-serif, Arial;
}

.datalist caption {
font-weight:700;
text-align:center;
}

.datalist table {
align:center;
}

.datalist td {
border:1px solid #429fff;
padding:4px;
text-align:left;
}

.datalist th {
background-color:#d2e8ff;
border:1px solid #429fff;
font-weight:700;
padding:4px 10px;
text-align:center;
}

.datalist tr:hover {
background-color:#c4e4fe;
}

.jiathis_txt {
color:gray;
}

.listing-item a{
	color: #2b2b2b!important;
}
.listing-item a:hover{
	color:#b4b4b4!important;
}
.listing-item time {
	color:#a6a6a6;
	margin-right: 16px;
}

.listing-item,.listing-seperator {
list-style-type:none;
}

.post-date {
color:#B8B8B8;
float:right;
font-size: .6em;
}

/*a {
border-bottom:1px solid #ccc;
text-decoration:none;
}*/

a.imglink,a:hover.imglink {
border-bottom:0;
margin-right:10px;
text-indent:0;
align:center;
}

/*a:hover {
border-bottom:1px solid #66a;
color:#33f;
}*/

a:link,a:visited {
text-decoration:none;
}



div#navigation {
background-color:#528B8B;
color:#FFF;
margin:.25em 0 0;
padding:0 .25em;
position:absolute;
right:0;
top:1em;
width:20em;
}

div.excerpt-post {
margin-bottom:12px;
margin-top:12px;
}

h1,#tag_cloud {
margin-bottom:1em;
}
h1,#tag_cloud a{
	margin-right: .4em;
	font-size: 1em;
	font-weight: normal;
	/*color: #2b2b2b!important;*/
	letter-spacing: 1px;
}

h1,h2,h3,h4,h5,h6 {
font-family:Microsoft YaHei,tahoma, serif;
font-size:100%;
font-weight:400;
}
h2.title {
font-size:1.5em;
font-weight:normal;
padding: 10px 0;
}

h3 {
	font-size:130%;
}

html {
background-color:#f3f3f3;
}

html,body {
height:100%;
}
p.excerpt a {
	border-bottom:none;
	/*font-family:Georgia, sans-serif,serif, Arial;*/
	font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
	font-weight:normal;
	color: #2b2b2b;
	font-size: 1.2em;
}

p.excerpt a:hover {
	color:#a6a6a6;
}


.more a {
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
background-color: #2b2b2b;
border-bottom: 0;
border-radius: 4px;
color: #fff;
font-size: .9em;
padding: .4em .6em;
}

.more a:hover {
background-color:#444;
color:#FFF;
}

section#weibo {
-moz-border-radius:8px;
-webkit-border-radius:8px;
border-radius:8px;
text-align:center;
}

section.content article p {
	text-indent:28px;
	color:#666;
	letter-spacing: 0.02em;
	/*font-family: "微软雅黑";*/
	line-height: 1.8em;
	/*width:200px;*/
	word-break:break-all;
	display:-webkit-box;
	-webkit-line-clamp:4;
	-webkit-box-orient:vertical;
	overflow:hidden;
}

section.content article p.excerpt{
	text-indent:0;
	color:#894457;
	font-size: 1.2em;
	line-height: 29px;s
}
section.content article p.excerpt i{
	font-size: 1.5em;
	line-height: 29px;
	position: relative;
	top: .1em;
}

section.content article p.noindent{
	text-indent:0;
}


span#poweredby {
float:left;
}

span#copyright {
float:right;
}

span#copyright a,span#poweredby a {
	border-bottom:0;
	color:#a6a6a6;
}

span#copyright a:hover,span#poweredby a:hover {
	color:#2b2b2b;
}
.pagination a{
	color: #2b2b2b;
	text-decoration: none;
}
.pagination a:hover{
	color: #a6a6a6;
}

span#copyright,span#poweredby {
	color:#fff;
	text-align:left;
	position: relative;
	top: -0.8em;
}




ul.posts {
list-style-type:none;
margin-bottom:2em;
}

ul.posts li {
	line-height:1.8;
}

ul.posts span {
color:#aaa;
font-family:Monaco, "Courier New", monospace;
font-size:80%;
}

#tag_sidebar a, ul.posts>h3 a,#ckepop a,section.comments a,.no-bottom,#tag_cloud a {
border-bottom:0;
}


#goTopBtn {
  position: fixed; _position:absolute; _top:expression(document.documentElement.clientHeight + document.documentElement.scrollTop - this.offsetHeight); TEXT-ALIGN: center; LINE-HEIGHT: 50px; WIDTH: 50px; HEIGHT: 50px; FONT-SIZE: 12px; CURSOR: pointer; right:40px; bottom:60px; margin-left: 480px;
}

#goTopBtn a{
	border:none;
	color:#333;
	font-size: 3em;
}
/*
img{
	box-shadow:0 4px 4px rgba(0,0,0,0.3);
	-webkit-box-shadow:0 4px 4px rgba(0,0,0,0.3);
	-moz-box-shadow:0 4px 4px rgba(0,0,0,0.3);
}
*/
a[title*="大图"]{
	border-bottom:0;
}

.left{ float:left}
.right{float:right}

.db-img img {
	height:130px;
	width:96px;
	padding: 4px;
	background: #fff;
	border: solid 1px #ccc;
	margin: 0px 3px 3px 0px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.db-img a, #douban a{
	border-bottom:0;
}

/* @group FancyFirst */
/*.emphnext + p:first-letter, p.emphfirst:first-letter {
	font-size: 2em;
	padding: 0 0.1em 0 0;
	margin:  0.05em 0 -0.15em 1em;
	line-height: 1em;
	float: left;
}*/
ul.emphnext{
	margin-bottom: 20px;
}
.emphnext>li{
	display: inline-block;
}

section.content article > time.emphnext + p{
	text-indent:0;
}
/* @end */

ul#thumbs{
    list-style: none outside none;
	display:block;
}

#show-tag{height: auto !important;_height:300px;min-height:300px;_overflow: visible;}
#show-tag span{font-weight: normal;font-size:14px;color:#808080}

.pagination{
	text-align: center;
	margin: 1em 0px;
	position: relative;
}


.tag-wrap a{
	color: #00b38a;
    background: #fff;
    display: inline-block;
    padding: 6px 0px 6px 22px;
    margin: 3px;
}
ul{
	padding: 0;
	margin-left: 0
}
.link-me li{
	list-style: none;
	margin: 0;
}
.link-me li:nth-child(1) a i{
	color:#333;
}
.link-me li:nth-child(2) a i{
	color:#cd4242;
}
.link-me li a{
	font-size: 2em;
	line-height: 1.6;
	text-decoration: none;
	padding: 0;
}


/*多说评论css*/
#comments>h3{
	color: #444;
	padding-top: 20px;
	font-size: 22px;
}
#ds-thread {background: #ffffff;}
/*.ds-replybox{
	position: relative!important;
	overflow: hidden;
}
#ds-thread form{
	width: 100%!important;
	position: absolute!important;
	top: 0;
	left: 0;
}*/
#comments{
	background: #fff;
}
#ds-thread #ds-reset .ds-comment-body p {background: #f1f1f1;color: #333!important;padding:20px 30px;}
.ds-sync{display:none !important;}
.ds-textarea-wrapper.ds-rounded-top{background: #f1f1f1!important;border:0!important;}
#ds-reset .ds-gradient-bg{background:#fff!important;border:1px solid #f1f1f1!important;}
#ds-thread #ds-reset .ds-sort {display:none;}
#ds-thread #ds-reset .ds-highlight{color: #333!important;}
#ds-thread #ds-reset .ds-powered-by{display:none;}
#ds-thread #ds-reset a.ds-like-thread-button{
	display: none!important;
}
/*#ds-thread #ds-reset .ds-replybox .ds-avatar img{
	display: none!important;
}*/



@media screen and (max-width: 600px){
	.foo{
		font-size: 3em;
	}
	.info{
		font-size: 1.2em;
	}
	section{
		width: 100%;
	}
	.site{
		float: none;
		width: 100%;
	}
	.sidebar{
		float: none;
		width: 100%;
	}
	.wrap-ab{
		width: 100%!important;
	}
	section.site > section.content article, section.comments{
		padding: 0;
	}
	#goTopBtn{
		z-index: 999;
	}
	#aside{
		display: none;
	}
	.info>ul>li>a{
		font-size: 1.4em;
	}
}